@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap');

:root {
    --primary: #1B1B2A;
    --secondary: #242538;
    --terciary: #FFFFFF;
    --quaternary: #5865F2;
    --green: #27AF69;
    --red: #DC3615;
    --gray: #80798B;
    --font: 'Montserrat', sans-serif;
}

* {
    padding: 0;
    margin: 0 auto;
    font-family: var(--font);
}

body {
    background-color: var(--primary);
}

header {
    overflow: hidden;
    background-color: var(--secondary);
}

nav {
    width: 1280px;
    height: 70%;
}

.logo {
    float: left;
    padding: none;
    margin: none;
    height: 60px;
    width: 30%;
}

.logo img {
    width: 15%;
    float: left;
    padding: 12px 0;
}

.menu {
    float: right;
    height: 100%;
}

.menu ul {
    text-align: center;
    float: right;
    margin: none;
}

.menu li {
    display: inline-block;
}

.menu li a {
    display: inline-block;
    padding: 0em 1.2em;
    text-decoration: none;
    font-weight: 500;
    line-height: 60px;
    color: var(--terciary);
}